{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <title>Definir Tipo de Usuário</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% if user.is_staff %}
    <div>
        <label for="tipo_usuario">Tipo de Usuário:</label>
        <select name="tipo_usuario" id="tipo_usuario">
            {% for tipo in perfil.TIPO_USUARIO_CHOICES %}
                <option value="{{ tipo.0 }}" {% if perfil.tipo_usuario == tipo.0 %}selected{% endif %}>
                    {{ tipo.1 }}
                </option>
            {% endfor %}
        </select>
    </div>
    {% endif %}

    <button type="submit">Salvar Atualizações</button>
</form>

</body>
</html>
