{% block content %}

<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<h2>Adicionar Novo Projeto</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>
    </div>

    <div>
        <label for="resumo">Resumo:</label>
        <textarea id="resumo" name="resumo" required></textarea>
    </div>

    <div>
        <label for="resultados">Resultados:</label>
        <textarea id="resultados" name="resultados"></textarea>
    </div>

    <div>
        <label for="situacao">Situação:</label>
        <select id="situacao" name="situacao">
            <option value="concluido">Concluído</option>
            <option value="andamento">Em Andamento</option>
            <option value="planejamento">Em Planejamento</option>
        </select>
    </div>

    <div>
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao"></textarea>
    </div>

    <div>
        <label for="fotos">Fotos:</label>
        <input type="file" id="fotos" name="fotos" multiple>
    </div>

    <div>
        <label for="artigos">Artigos:</label>
        <input type="file" id="artigos" name="artigos" multiple>
    </div>

    <div>
        <h3>Pesquisadores:</h3>
        <select id="pesquisadores" name="pesquisadores" multiple>
            {% for pesquisador in pesquisadores %}
                <option value="{{ pesquisador.id }}">{{ pesquisador.usuario.username }}</option>
            {% empty %}
                <option disabled>Nenhum pesquisador encontrado</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <h3>Professores:</h3>
        <select id="professores" name="professores" multiple>
            {% for professor in professores %}
                <option value="{{ professor.id }}">{{ professor.usuario.username }}</option>
            {% empty %}
                <option disabled>Nenhum professor encontrado</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <h3>Alunos:</h3>
        <select id="alunos" name="alunos" multiple>
            {% for aluno in alunos %}
                <option value="{{ aluno.id }}">{{ aluno.usuario.username }}</option>
            {% empty %}
                <option disabled>Nenhum aluno encontrado</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="instituicoes">Instituições Envolvidas:</label>
        <select id="instituicoes" name="instituicoes" multiple>
            {% for instituicao in instituicoes %}
                <option value="{{ instituicao.id }}">{{ instituicao.nome }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Botão/ícone para criar nova instituição -->
    <a href="{% url 'criar_instituicao' %}" style="text-decoration: none; color: #007bff;">
        <i class="fa fa-plus" aria-hidden="true"></i> Criar Nova Instituição
    </a>


    <button type="submit">Salvar Projeto</button>
</form>
{% endblock %}
