<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Todos os Projetos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

    <h2>Lista de Todos os Projetos</h2>

    <div class="project-container">
        {% for projeto in projetos %}
        <div class="project-card">
            <a href="{% url 'detalhes_projeto' projeto.id %}">
                <img src="{{ projeto.fotos.url }}" alt="{{ projeto.nome }}">
                <h3 class="project-title">{{ projeto.nome }}</h3>
                <p class="project-status">Estado: {{ projeto.estado }}</p>
                <p class="project-description">{{ projeto.descricao }}</p>
            </a>
        </div>
        {% empty %}
        <p class="no-projects">Nenhum projeto encontrado.</p>
        {% endfor %}
    </div>

</body>
</html>
