{% include 'base-header.html' %}
{% load static %}
{% block content %}
<head>
    <title>Projetos Iniciados</title>
    <link rel="stylesheet" href="{% static 'css/projetos_iniciados.css' %}"></head>
<main>
    <h1>
        <strong>Projetos Iniciados</strong><hr class="linha-fina">
    </h1>
    <article>
        <section class="filtro">
            <form class="buscar-box" action="{% url 'projetos_iniciados' %}" method="GET">
                <div class="input-buscar">
                    <input type="text" name="pesquisa" value="{{ request.GET.pesquisa }}" placeholder="Pesquise um artigo" class="form-control">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </div>
            </form>
            <form id="filterForm" action="{% url 'projetos_iniciados' %}" method="GET">
                <ul class="fi">
                    <li>
                        <h2><strong>Filtros</strong><hr class="lineex"></h2>
                    </li>
                    <li>
                        <h3><strong>Anos</strong></h3>
                        <ul>
                            {% for ano in anos %}
                            <li>
                                <input type="checkbox" id="anos-{{ ano.id }}" name="ano" value="{{ ano.id }}">
                                <label for="anos-{{ ano.id }}">{{ ano.date }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <h3><strong>Idiomas</strong></h3>
                        <ul>
                            {% for idioma in idiomas %}
                            <li>
                                <input type="checkbox" id="idiomas-{{ idioma.id }}" name="idioma" value="{{ idioma.id }}">
                                <label for="idiomas-{{ idioma.id }}">{{ idioma.nome }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <h3><strong>Instituições</strong></h3>
                        <ul>
                            {% for instituicao in instituicoes %}
                            <li>
                                <input type="checkbox" id="instituicao-{{ instituicao.id }}" name="instituicoes" value="{{ instituicao.id }}">
                                <label for="instituicao-{{ instituicao.id }}">{{ instituicao.nome }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <h3><strong>Pesquisadores</strong></h3>
                        <ul>
                            {% for pesquisador in pesquisadores %}
                            <li>
                                <input type="checkbox" id="pesquisadores-{{ pesquisador.id }}" name="pesquisadores" value="{{ pesquisador.id }}">
                                <label for="pesquisadores-{{ pesquisador.id }}">{{ pesquisador.nome }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </form>
        </section>
        <section class="proj">
            <h1><strong>Projetos Iniciados</strong></h1>
            {% if projetos_iniciados %}
            <div class="pro">
                <article class="projetos">
                    {% for projeto in projetos_iniciados %}
                    <nav class="card">
                        <div class="image">
                            <a href="{% url 'detalhes_projeto' projeto.id %}"><img src="{{ projeto.fotos.url }}" alt="{{ projeto.nome }}"></a>
                        </div>
                        <div class="conteudo">
                            <p>{{ projeto.titulo }}</p>
                            <a href="{% url 'detalhes_projeto' projeto.id %}">Acessar</a>                            
                        </div>  
                    </nav>
                    {% endfor %}
                </article>
            </div>
        {% else %}
            <p class="no-projects">Nenhum projeto encontrado.</p>
        {% endif %}
        </section>
    </article>
</main>
<script>
    document.querySelectorAll('#filterForm input[type="checkbox"]').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            document.getElementById('filterForm').submit();
        });
    });
</script>
{% endblock %}
{% include 'base-footer.html' %}
