{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="icon" href="{% static 'img/icon_uu.webp' %}" sizes="16x16">
    <title>Registro</title>
</head>
<body>
    <main>
        <a class="img" href="{% url 'inicio' %}">
            <img src="{% static 'img/logo_02.png' %}" class="logo_nupat" alt="logo nupat">
        </a>


        <div class="container">
            <h2>Cadastro</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ formulario.as_p }}
                    <div class="btn">
                        <button type="submit">Registrar</button>
                        <a href="{% url 'inicio' %}"> Voltar ao menu </a>
                    </div>
                </form>
        </div>
    </main>

    {% include 'base-footer.html' %}

</body>
</html>

