{%load static%}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos?</title>
    <link rel="stylesheet" type="text/css" href= "{% static 'css/master.css' %}">
    <link rel="icon" href="{% static 'img/icon_uu.webp' %}" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/quemsomos.css' %}">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>

    <script src="https://kit.fontawesome.com/af6c14a78e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

</head>
<body>
    <header>
        <ul>
            <li><p class="title">Acessibilidade</p></li>
            <li class="icons">
                <p>Contraste | </p>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="currentColor" class="bibi-moon-fill" viewBox="0 0 16 16">
                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30px" fill="currentColor" class="bibi-sun-fill" viewBox="0 0 16 16">
                    <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"/>
                </svg>
            </li>
            <li>
                <nav class="sb-structure__accessibility-bar__font-size">
                    <ul>
                        <li class="sb-structure__accessibility-bar__d-block">
                            <span class="sb-structure__accessibility-bar__label"><p>Tamanho da Letra |</p></span>
                        </li>
                        <li class="sb-structure__accessibility-bar__font-size__link sb-ab-ft-menor" title="Menor">
                            <span sb-data-accessibility-font-size="d">A-</span>
                        </li>
                        <li class="sb-structure__accessibility-bar__font-size__link sb-ab-ft-normal" title="Normal">
                            <span sb-data-accessibility-font-size="n">Aa</span>
                        </li>
                        <li class="sb-structure__accessibility-bar__font-size__link sb-ab-ft-maior" title="Maior">
                            <span sb-data-accessibility-font-size="a">A+</span>
                        </li>
                    </ul>
                </nav>
            </li>

            <li class="icons">
                <p>Leitura por voz |</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="30" fill="currentColor" class="bibi-mic-fill" viewBox="0 0 16 16">
                    <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z"/>
                    <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"/>
                </svg>
            </li>
            <li><p>Português | BR</p></li>
        </ul>
    </header>
    <nav class="principal">
        <div class="menu">
            <ul>
                <li>
                    <a href="{% url 'inicio' %}">
                    <img src="{%static 'img/logo_02.webp' %} " alt="Logo do Núcleo de Pesquisa em Acessibilidade e Tecnologia - NUPAT"></a>
                </li>
                <!--
                <li class="buscar-box">
                    <div class="input-buscar">
                        <input type="text" name="#" id="#" placeholder="Buscar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </div>
                </li>
                -->
                <li class="profile">
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bibi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                  </svg>
                </p>
                <p>
                    <a href="#">Entrar</a>
                </p>
            </li>
            </ul>
        </div>

        <div class="submenu">
            <ul>
                <li>
                    <p>Projetos <i class="fa-solid fa-chevron-down"></i></p>
                    <ul>
                        <li><a href="{% url 'projetos_iniciados' %}">Projetos Iniciados</a></li>
                        <li><a href="{% url 'projetos_andamento' %}">Projetos em Andamento</a></li>py 
                        <li><a href="{% url 'projetos_concluidos' %}">Projetos Concluídos</a></li>
                        <li><a href="{% url 'listar_todos_os_projetos' %}">Todos</a></li>
                    </ul>
                </li>
                <li>
                    <p>Suporte <i class="fa-solid fa-chevron-down"></i></p>
                    <ul id="btn-suporte">
                        <li><a href="{% url 'atendimento_virtual' %}">Atendimento Virtual </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <h1 class="lyste">Quem Somos</h1>
            <div class="line"></div>
            <div class="container">
                <div class="text1">
                    <p>Somos o Núcleo de Pesquisa em Acessibilidade e Tecnologia (Nupat), 
                        um projeto dedicado a promover a inclusão através da tecnologia. 
                        Sob a coordenação da Mestra Tatiana Sorrentino Amaral, o Nupat está inserido no IFRN Campus Canguaretama, 
                        localizado na BR 101, km 160, s/n, Areia Branca, Canguaretama/RN. Nossa equipe é composta por alunos dos cursos superiores em Sistemas para Internet, 
                        atualmente nos 3° e 5° períodos. Unidos por uma paixão comum, trabalhamos com a missão de tornar o universo digital mais acessível para todos.
                    </p>
                    <br>
                    <p>O Nupat foi fundado em abril de 2024, 
                        fruto da visão e liderança da Mestra Tatiana Sorrentino Amaral, 
                        que compartilha conosco seu profundo compromisso com a acessibilidade. 
                        Desde o início, o nosso objetivo tem sido claro: desenvolver uma plataforma robusta, 
                        funcionando como uma biblioteca digital onde serão armazenados e compartilhados projetos e artigos focados na acessibilidade em diversas áreas da tecnologia.
                        Esta iniciativa não é apenas sobre armazenar conhecimento, mas também sobre disseminá-lo de forma que possa impactar positivamente a vida de todos, 
                        independentemente de suas habilidades.
                    </p>
                    <br>
                    <p>
                        Nosso trabalho vai além da simples compilação de informações. Estamos engajados em pesquisas que exploram as diversas formas como a tecnologia 
                        pode ser adaptada e aprimorada para atender às necessidades de indivíduos com diferentes níveis de acessibilidade. Seja no desenvolvimento de interfaces amigáveis 
                        para pessoas com deficiências visuais, auditivas, motoras ou cognitivas,
                        ou na criação de ferramentas que ampliem a usabilidade de sistemas complexos, o Nupat está na vanguarda da inovação acessível.
                    </p>
                </div>
                <section class="slider">
                    <div class="slider-content">
                        <input type="radio" name="btn-radio" id="radio1" checked>
                        <input type="radio" name="btn-radio" id="radio2">
                        <input type="radio" name="btn-radio" id="radio3">
                        
                        <!--As imagens abaixo vai ser alterada para fotos posteriores dos componentes dos grupos em atividades relacionada ao NUPAT--> 
                        <div class="slider-box primeiro">
                            <div class="img-container">  
                            <img class="img-desktop" src="{%static 'img/ilu.png' %}" alt="Imagem ilustrativa">
                        </div></div>
                        <div class="slider-box">
                            <div class="img-container">
                            <img class="img-desktop" src="{%static 'img/ilu.png' %}" alt="Imagem ilustrativa">
                        </div></div>
                        <div class="slider-box">
                            <div class="img-container">
                            <img class="img-desktop" src="{%static 'img/ilu1.png' %}" alt="Imagem ilustrativa">
                        </div>
                        </div>
                        <div class="nav-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                        </div>
                        <div class="nav-manual">
                            <label for="radio1" class="manual-btn"></label>
                            <label for="radio2" class="manual-btn"></label>
                            <label for="radio3" class="manual-btn"></label>
                        </div>
                    </div>
                </section>
                <div class="text2">
                    <p>Entendemos que a acessibilidade não é um luxo, mas uma necessidade fundamental. É por isso que nosso núcleo se esforça para educar e conscientizar a comunidade acadêmica e a sociedade em geral sobre a importância de uma abordagem inclusiva na tecnologia. Acreditamos que, ao tornar as ferramentas digitais acessíveis a todos, 
                        estamos pavimentando o caminho para uma sociedade mais justa e equitativa.
                     <br>
                     <br>
                        A previsão é que o sistema completo seja lançado até o final de 2024, mas nosso compromisso com a acessibilidade não termina aí. 
                        Continuaremos a aprimorar nossas soluções e a colaborar com outros pesquisadores,
                        desenvolvedores e ativistas para garantir que a inclusão seja sempre uma prioridade na evolução tecnológica em todos os aspectos garantindo que os ambas as partes cresçam juntos garantindo o acesso de todos os públicos.
                    <br>
                    <br>
                        O Nupat não é apenas um núcleo de pesquisa; é uma comunidade em crescimento, dedicada a criar um futuro onde a tecnologia seja um direito de todos, e não um privilégio de poucos. Convidamos você a conhecer nosso trabalho, 
                        participar de nossas iniciativas e juntar-se a nós na construção de um mundo digital mais inclusivo e acessível para todos.
                    </p>
            
                    <div class="lyne"></div>
                   
                </div>
                <div class="menber">
                    <h2> Membros do Nupat</h2>
                </div>
            </div>
            <!--componentes do projeto -->
            <div class="carousel-container">
                <div class="photos">
                    <div class="profilesec">
                        <div class="circle">
                            <img src="{% static 'img/prof_tati.jpg' %}" alt=" Foto de perfil da Mestra Amaral, coordenadora do NUPAT.">
                        </div>
                        <p>Tatiana Sorrentino | Professora e Coordenadora do Nupat. </p>
                    </div>
                    <div class="profilesec">
                        <div class="circle">
                            <img src="{% static 'img/Dev_vitor.jpg' %}" alt="Foto de perfil do aluno Vitor, Desenvolvedor Front-End">
                        </div>
                        <p> Vitor Emanuel | Desenvolvedor Front-end</p>
                    </div>
                    <div class="profilesec">
                        <div class="circle">
                            <img src="{% static 'img/Dev_David.jpg' %}" alt="Foto de Perfil do Aluno David, Desenvolvedor Front-End">
                        </div>
                        <p> David Lopes | Desenvolvedor Front-End</p>
                    </div>
                    <div class="profilesec">
                        <div class="circle">
                            <img src="{% static 'img/dev.vanessa.jpg' %}" alt="Foto de perfil da aluna Vanessa, Desenvolvedora Front-End">
                        </div>
                        <p>Vanessa Gonçalves | Desenvolvedora Front-End</p>
                    </div>
                    <div class="profilesec">
                        <div class="circle">
                            <img src="/Quem somos/img/phototest.jpg" alt="Person 5">
                        </div>
                        <p>Otaciel Ribeiro | Desenvolvedor Front-End</p>
                    </div>
                    <div class="profilesec">
                        <div class="circle">
                            <img src="{%static 'img/devback.marcelo.jpg'%}" alt=" Foto de perfil do aluno Marcelo, Desenvolvedor Back-End">
                        </div>
                        <p>Marcelo Ryan | Desenvolvedor Back-end</p>
                    </div>
                    <div class="profilesec">
                        <div class="circle">
                            <img src="{% static 'img/dev.Philip.jpg' %}" alt="Person 7">
                        </div>
                        <p> Phillip Muzzi | Desenvolvedor Back-end</p>
                    </div>
                    <div class="profilesec">
                        <div class="circle">
                            <img src="{% static 'img/peu.designer.jpg'%}" alt="Foto de Perfil do Aluno Pedro, Designer UX/UI">
                        </div>
                        <p> Pedro Cavalcante | Designer UX/UI</p>
                    </div>
                    <div class="profilesec">
                        <div class="circle">
                            <img src="/Quem somos/img/phototest.jpg" alt="Person 7">
                        </div>
                        <p> Leonardo | Designer UX/UI</p>
                    </div>
                </div>
                <button class="prev" onclick="moveCarousel(-1)">&#10094;</button>
                <button class="next" onclick="moveCarousel(1)">&#10095;</button>
            </div>
            <!-- em faze de teste-->
    </main>
    {% include 'base-footer.html' %}
    <!-- acessibilidade de libras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <script src="/Rodapé-padrão/js/main.js"></script>
    <script src="{% static 'js/slider.js' %}" defer></script>
    <script src="{% static  'js/carrosel.js' %}"></script>
    <script src="acessiblity_font.js"></script>
</body>
</html>
