{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal - NUPAT</title>
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <link rel="icon" href="{% static 'img/icon_uu.webp' %}" sizes="16x16">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <script src="https://kit.fontawesome.com/af6c14a78e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body> 

{% include 'base-header.html' %}

    <div class="container">

        <div class="primeiro-corpo"> <!--primeiro corpo-->
<article class="second">
    <h1 class="title2">Relevantes</h1>
    <div class="cards-container">
        {% for projeto in ultimos_projetos|slice:":6" %} <!--os 6 projetos mais recentes -->
            <div class="card">
                <a href="{% url 'detalhes_projeto' projeto.id %}">
                    <img src="{{ projeto.fotos.url }}" alt="{{ projeto.titulo }}">
                    <p>{{ projeto.titulo }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</article>

            <!--Carrossel princinpal-->
            <div class="carrosel">
                <section class="slider">
                    <div class="slider-content">
                        <input type="radio" name="btn-radio" id="radio1" checked>
                        <input type="radio" name="btn-radio" id="radio2">
                        <input type="radio" name="btn-radio" id="radio3">
                        <!--As imagens abaixo vai ser alterada para fotos posteriores dos componentes dos grupos em atividades relacionada ao NUPAT-->
                        <div class="slider-box primeiro">
                            <div class="img-container">
                                <img class="img-desktop"
                                    src="{% static 'img/carrosel1.jpg' %}"
                                    alt="">
                            </div>
                        </div>
                        <div class="slider-box">
                            <div class="img-container">
                                <img class="img-desktop"
                                    src="{% static 'img/carrosel2.png' %}"
                                    alt="">
                            </div>
                        </div>
                        <div class="slider-box">
                            <div class="img-container">
                                <img class="img-desktop"
                                    src="{% static 'img/carrosel1.jpg' %}"
                                    alt="">
                            </div>
                        </div>
                        <div class="nav-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                        </div>
                        <div class="nav-manual">
                            <label for="radio1" class="manual-btn"></label>
                            <label for="radio2" class="manual-btn"></label>
                            <label for="radio3" class="manual-btn"></label>
                        </div>
                    </div>
                 </section>
            </div>

            <article class="second">
                <h1 class="title2"> Relevantes</h1>
                <div class="cards-container">
                    <div class="card">
                        <a href="#">
                            <p>card 1</p>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <p>card 1</p>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <p>card 1</p>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <p>card 2</p>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <p>card 2</p>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <p>card 2</p>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        <div class="segundo-corpo"> <!--segundo corpo-->
            <div class="notice">
                <div onload="carregarNoticias()">
                    <div class="card-noticias">
                      <h2>Notícias</h2>
                      <div id="noticias"></div>
                    </div>
                </div>
            </div>

            <div class="nupat">
                <a href="{% url 'quem_somos' %}">
                    <p> Quem somos?</p>
                </a>
            </div>
        </div>
    </div>

    <script src="{% static 'js/main-pagprincipal.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>

{% include 'base-footer.html' %}
