<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Usuário</title>
    <style>
        .form-section {
            display: none;
        }
    </style>
    <script>
        function toggleForm() {
            var formSection = document.getElementById("form-section");

            if (formSection.style.display === "none") {
                formSection.style.display = "block";
            } else {
                formSection.style.display = "none";
            }
        }
    </script>
</head>
<body>

<h2>{{ perfil.usuario.username }} - Detalhes do Perfil</h2>

<h3>Informações Atuais</h3>
<p>Telefone: {{ perfil.telefone }}</p>
<p>Endereço: {{ perfil.endereco }}</p>
<p>Profissão: {{ perfil.profissao }}</p>
<p>Tipo de Usuário: {% if perfil.tipo_usuario %}{{ perfil.get_tipo_usuario_display }}{% else %}Ainda não definido{% endif %}</p>

<a href="{% url 'editar_detalhes' usuario_id=perfil.usuario.id %}">Atualizar</a>


<div id="form-section" class="form-section">
    <h3>Editar Informações</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" onclick="return confirm('Você tem certeza que deseja salvar as alterações?');">Salvar Alterações</button>
    </form>
</div>


{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
{% endif %}

</body>
</html>
