<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Detalhes do Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <h2>Editar Detalhes do Perfil de {{ perfil.usuario.username }}</h2>

    <div class="image">
        {% if perfil.foto_perfil %}
            <img src="{{ perfil.foto_perfil.url }}" alt="Foto de Perfil" style="width: 100px; height: 100px; border-radius: 50%;">
        {% else %}
            <i class="fa-solid fa-circle-user" style="color: #304d30; font-size: 100px;"></i>
        {% endif %}
        <a href="#">Alterar foto do perfil</a>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <label for="foto_perfil">Selecionar nova foto de perfil:</label>
            <input type="file" name="foto_perfil" id="foto_perfil" accept="image/*" onchange="previewImage(event)">
        </div>
        {% if user.is_staff %}
        <div>
        </div>
        {% endif %}


        <button type="submit">Salvar Atualizações</button>
    </form>

    <a href="{% url 'detalhes_usuario' usuario_id=perfil.usuario.id %}">Cancelar</a>

    <script>
        function previewImage(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function(){
                const img = document.createElement('img');
                img.src = reader.result;
                img.style.width = '100px';
                img.style.height = '100px';
                img.style.borderRadius = '50%';
                const imageDiv = document.querySelector('.image');
                imageDiv.innerHTML = ''; // Limpa a imagem existente
                imageDiv.appendChild(img); // Adiciona a nova imagem selecionada
            }
            reader.readAsDataURL(file);
        }
    </script>
</body>
</html>
