:root {
    --cinza: #E7E4D7;
    --preto: #000000;
    --meiobranco: #ececec;
    --verde: #304D30;
    --branconeve: rgb(255, 255, 255);
    --verdefraco: #a8a8a8a8;
}

* {
    margin: 0;
    padding: 0;

}

body {
    width: 100%;
    background-color: rgb(241, 241, 241);    
    font-family: "Red Hat Display", sans-serif;
}

/* cabeçalho acessibilidade versao desktop */

.cbc-acessibilidade {
    height: 30px;
    width: 100%;
    background-color: rgb(241, 241, 241);   
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cbc-acessibilidade ul {
    display: flex;
    justify-content: space-around;
}
.icons-contraste a {
    cursor: pointer;
    height: 15px;
    width: 20px;
    font-size: 15px;
}

.contraste,
.icons-contraste {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}


.cbc-acessibilidade ul,
li,
a {
    list-style: none;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
}

#title-acessibilidade {
    font-weight: bold;
}


.btn-a {
    cursor: pointer;
    padding: 3px;
    margin: 0 5px;
    height: 18px;
    background-color: var(--verdefraco);
    border-radius: 4px;
    display: inline-block;
}

.cbc-acessibilidade nav ul li:hover {
    background-color: #e0e0e0;
    transition: 0.5s;
}

/* fim do cabeçalho de acessibilidade */

header {
    width: 100%;
    height: 70px;
    background-color: var(--verde);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

header>.logo {
    width: 7%;
    height: 50px;
    padding-top: 10px;
    padding-left: 100px;
}

header .perfil {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 100px;

}

header .perfil i {
    font-size: 30px;
}

.corpo_principal {
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 50px;
}

.corpo_principal>article {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.corpo_principal article h1 {
    font-size: 40px;
}

.corpo_principal article hr {
    border-color: #00ff00;
    flex: 1;
    margin: 10px;
}

.container {
    display: grid;
    height: 500px;
    place-items: center;
    grid-template-columns: 18% 12% 65%;
    grid-template-areas:
        "section linha-vertical article"
    ;
}

.container section {
    width: 200px;
    display: grid;
    grid-area: section;
}

.container section>a {
    width: 100%;
    height: 45px;
    text-decoration: none;
    color: #000000;
    display: flex;
    gap: 10px;
    line-height: 30px;
    padding: 9px;
    font-size: 20px;
}

.container section a:hover {
    background-color: var(--verde);
    border-radius: 14px;
    color: white;
    transition: all 0.2s ease;
}

#btn-sair:hover {
    color: white;
    border-radius: 14px;
    background-color: rgb(202, 0, 0);
    transition: all 0.2s ease;
}
#btn-minhaConta:hover {
    color: black;
}
.linha-vertical{
    grid-area: linha-vertical;
    height: 400px;
    border-left: 1px solid;
}
.container article {
    grid-area: article;
    padding: 30px;
    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    border-radius: 10px;
}
.linha-horizontal {
    border-bottom: 1px solid;
    border-color: #00ff00;
}

input[type=text]{
    border: none;
    height: 25px;
    width: 180%;
    background-color: var(--meiobranco);
    padding: 12px 10px;
    box-sizing: border-box;
}
.input-text::placeholder {
    opacity: 0.4;
}
.input-date {
    border: none;
    background-color: var(--meiobranco);
    width: 62%;
    height: 25px;
    font-size: 15px;
}



.dados-perfil {
    display: flex;
    justify-content: space-between;
}

.dados-perfil>.dados {
    display: grid;
    gap: 10px;
    width: 411px;
}

.dados p {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 5px;
}

.dados-perfil>.image {
    display: grid;
    place-items: center;
    padding-right: 70px;
}

.dados-perfil>.image>i {
    font-size: 100px;
}

.dados-perfil>.image>a {
    width: 160px;
    height: 45px;
    text-decoration: none;
    justify-content: center;
    background-color: white;
    border-radius: 9px;
    border: 2px solid #304D30;
    margin-top: -35px;
    font-weight: bold;
    color: #304D30;
}

.dados-perfil>.image>a:hover {
    background-color: var(--verde);
    color: white;
    transition: all 0.5s ease;
}

.container>article>.btn-salvar {
    display: grid;
    place-items: center;
    height: 80px;
}

.container>article>.btn-salvar>a {
    display: grid;
    place-items: center;
    text-decoration: none;
    border-radius: 8px;
    background-color: #a1d7a1;
    font-weight: bold;
    font-size: 15px;
    width: 200px;
    height: 40px;
}

.container>article>.btn-salvar>a:hover {
    background-color: #95eb95;
    transition:0.5s;

}

/* submenu */
.submenu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 241, 241);   
    font-weight: bold;
    height: 35px;
}

.submenu ul {
    display: flex;
    list-style: none;
    padding: 10px;
    gap: 500px;
}

.submenu ul li {
    position: relative;
    cursor: pointer;

}

.submenu ul li a,
.submenu ul li p {
    color: #304D30;
    transition: background .3s, color .3s;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.submenu ul li a:hover,
.submenu ul li p:hover {
    background-color: #afc9afa8;
    color: #000000;
}

.submenu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 220px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #EEF0E5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.submenu ul li:hover ul {
    display: block;
}

.submenu ul ul li {
    margin: 0;
}

.submenu ul ul li a {
    display: block;
}

/* rodape */
.primeiro-rodape {
    background-color: white;
    width: 100%;
    height: 100%;
}

.voltar-ao-topo {
    display: flex;
    padding: 10px;
    gap: 12px;
}

.primeiro-rodape a {
    text-decoration: none;
    color: black;
}

.voltar-ao-topo hr {
    flex: 1;
    margin: 10px auto;
}


.voltar-ao-topo i {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.primeiro-rodape article {
    display: block;
    padding: 20px;
}

.container-texto {
    display: flex;
    gap: 50px;
    height: 2 00px;
    margin-left: 8%;
    margin-top: 5%;
}

.primeiro-txt,
.segundo-txt {
    height: 200px;
    width: 200px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.primeiro-txt p,
.segundo-txt p {
    display: grid;
    gap: 5px;

}

.primeiro-txt p :hover,
.segundo-txt p :hover {
    color: #00ff00;
    transition: 0.5s;
}

.img-dados {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.dados-icons {
    color: var(--verde);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dados-icons>.icons {
    font-size: 28px;
    display: flex;
    gap: 12px;
}

.icons a i {
    color: var(--verde);
}

.icons a i:hover {
    transition: 0.5s;
    color: var(--verdeclaro);
}

.dados-icons h3 {
    font-weight: bolder;
    font-size: 22px;
}

.dados-icons p {
    line-height: 22px;
}

.segundo-rodape {
    background-color: var(--verde);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.copyright p {
    margin: 1px 0;
    color: var(--branconeve);
}

@media screen and (max-width:1300px) {
    .container section>a {
        width: 129%;
        font-size: 10px;
    }

    .corpo_principal {
        padding: 20px;
    }

    .submenu ul {
        gap: 299px;
    }
}

@media screen and (max-width:490px) {
    .cbc-acessibilidade {
        display: none;
    }

    header>.perfil>strong {
        display: none;
    }

    header>.logo {
        width: 90px;
        height: 40px;
    }

    header .logo {
        padding-left: 50px;
    }

    header .perfil {
        padding-right: 0;
    }


    .container {
        display: flex;
        gap: 30px;
        flex-direction: column;
        grid-template-columns: auto auto;
        grid-template-areas:
            "section"
            "article";
        height: 100%;
    }
    .linha-vertical{display: none;}
    .linha-horizontal {
        right: 0;
        width: 100%;
    }

    .corpo_principal>article>h1 {
        font-size: 20px;
    }

    .container section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 9px;
        width: 100%;

    }

    .container section a {
        padding: 0;
        gap: 6px;
        justify-content: center;
        width: 100px;
    }

    .container article {
        gap: 23px;
        font-size: 13px;
        height:600px;
        width: 80%;
    }

    .container article hr {
        flex: 0;
        margin: 0;
    }

    .container>article>strong {
        font-size: 13px;
    }

    .container>article>.dados-perfil {
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 50px;
    }

    .container>article>.dados-perfil>.image {
        gap: 12px;
        padding-right: 0;
    }

    .dados-perfil a {
        display: grid;
        place-items: center;
    }

    .corpo_principal {
        padding: 20px;
    }

    .submenu ul {
        gap: 150px;
    }

    .submenu p,
    a {
        font-size: 12px;
    }

    #btn-suporte {
        right: 0;
    }

    footer {
        height: 100%;
        color: white;
    }

    .img-dados {
        display: block;
    }

    .img-logo {
        justify-content: end;
    }

    #logo-nupat {
        width: 200px;
        height: 200px;
    }

    #logo-ifrn {
        width: 150px;
        height: 150px;
    }

    .dados-icons {
        width: 90%;
    }

    .dados-icons strong,
    .dados-icons p {
        font-size: 17px;
    }

    .copyright p {
        font-size: 9px;
    }
}