<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suporte ao Usuário</title>
    <link rel="stylesheet" type="text/css" href="suporte.css">
    <link rel="icon" href="img/icon_uu.webp" sizes="16x16">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <script src="https://kit.fontawesome.com/af6c14a78e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body>
   <nav class="Acessibilidade">
        <img src="img/logo_02.webp" alt="Logo - Núcleo de Pesquisa em Acessibilidade e Tecnologia - NUPAT." >
        <h1> Atendimento ao Cliente</h1>
        <img class="seg-img" src="#" alt="Foto do usário logado">
        <div class="Nomeuser">
            <a href="#"> Nome do User </a>
            <button class="hamburger" id="hamburger">
                <i class="fi fi-sr-menu"></i>
            </button>
        </div>
    </nav>
  <main>
    <div class="forms">
        <h2>Preencha os campos abaixo corretamente para enviar o formulário:</h2>
    
    
    </div>
  </main>
</body>
</html>