
main{
    background-color: #E7E4D7;
    padding-bottom: 70px;
    margin-top: 1%;
}
main a{
    text-decoration: none;
    color: #304D30;
}
main .img-container{
    width: 100%;
}
main img{
    width: 340%;
    height: 300px;
    display: flex;
    margin-left: -63rem;
}
main .img-text{
    position:absolute;
    top: 50%;
    left: 35%;
    text-align: start;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    color: #304D30;
    background-color: #eef0e5cc;
    padding: 10px;
    z-index: 1;
}
main .atendimento h1, .suporte h1, .perguntas h1{
    padding-top: 30%;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 10px;
}
.linha-fina, .linha-finap{
    height: 2px;
    width: 69%;
    background-color: #00ff00;
    color: #00ff00;
    margin-left: 30%;
    margin-top: -20px;
}
.linha-finap{
    margin-left: 33%;
    width: 66%;
}
main .atendimento h2{
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 25px;
}
main .atendimento ul{
    display: flex;
    justify-content:space-around;
}
main .atendimento ul li{
    height: 100%;
    padding: 15px 20px;
    transition: background .5s;
    border-radius: 25px;
    width: 25%;
    cursor: pointer;
}
main .atendimento ul li:hover{
    background-color: #afc9afa8;
    border-radius: 25px;
}
main .atendimento ul li a{
    transition: color .3s;
}
main .atendimento ul li a:hover{
    color: #000000;
}
main .atendimento ul li a h3
{
    padding-top: 30px;
}
main .suporte div
{
    border-radius: 15px;
    background-color: #E7E4D7;
    width: 25%;
    height: 100%;
    margin-left: 39%;
    padding: 10px;
    margin-top: 50px;
    transition: background .5s;
    cursor: pointer;
}
main .suporte div:hover
{
    background-color: #afc9afa8;
    border-radius: 15px;
}
main .suporte div a
{
    transition: color .3s;
}
main .suporte div a:hover
{
    color: #000000;
}
main .suporte
{
    padding-bottom: 40px;
}
main .atendimento ul li, .suporte div
{
    text-align: center;
}
.perguntas
{
    padding-bottom: 90px;
}
.perguntas h1
{
    padding-bottom: 100px;
}
.perguntas-frequentes summary
{
    width: 70%;
    text-align: center;
    margin-left: 15%;
    background-color: #5ba55b;
    padding: 1%;
    transition: .5s;
    list-style: none;
    font-size: 150%;
    border-bottom: 1px solid #afc9afa8 ;
    font-weight: 400;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #EEF0E5;
}
.perguntas-frequentes summary i
{
    font-size: 15px;
    position: relative;
    top: -1%; /*movimenta o icone de expansão*/
    margin-left: 5px;
}
.fa-chevron-down
{
    transition: transform .4s;
}
.perguntas-frequentes summary:hover .fa-chevron-down  {
    transform: rotate(180deg);

}
.perguntas-frequentes summary:hover
{
    color:#5ba55b;
    background-color: #afc9af79;
}
.perguntas-frequentes summary .fi-rr-angle-small-down
{
    position: relative;
    top: 6px;
    left: 5px;
}
.perguntas-frequentes p
{
    background-color: #afc9af79;
    color: #304D30;
    width: 70%;
    margin-left: 15%;
    padding: 2%;
    margin-bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.primeiro-rodape {
    width: 100%;
    height: 100%;
    background-color: #EEF0E5;

}

.voltar-ao-topo {
    display: flex;
    font-size: 17px;
    padding: 10px;
    gap: 12px;
}

.primeiro-rodape a {
    text-decoration: none;
    color: black;
}
.voltar-ao-topo hr {
    flex: 1;
    margin: 10px auto;
}
.voltar-ao-topo i {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.primeiro-rodape article {
    display: block;
    padding: 20px;
}

.container-texto {
    display: flex;
    gap: 50px;
    height: 200px;
    margin-left: 8%;
    margin-top: 5%;
}

.primeiro-txt,
.segundo-txt {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.primeiro-txt p,
.segundo-txt p {
    display: grid;
    gap: 5px;
}
.primeiro-txt p :hover{
    color: #00ff00;
    transition: 0.5s;
}
.segundo-txt p :hover{
    color: #00ff00;
    transition: 0.5s;
}
.img-dados {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-logo {
    display: flex;
    align-items: center;
    margin-left: 3%;
    justify-content: space-between;
}
.dados-icons {
    margin-right: 20%;
    color: var(--verde);
    display: flex;
    gap: 6px;
    flex-direction: column;
}
.dados-icons h3 {
    font-weight: bolder;
    font-size: 22px;
}
.dados-icons p {
    line-height:  22px;
}

.icons a i{
    color:#304D30;
}
.icons a i:hover{
    color: #00ff00;
    transition: 0.5s;
}

.dados-icons>.icons {
    background-color: transparent;
    font-size: 28px;
    display: flex;
    padding: 7px;
    gap: 20px;
}
.segundo-rodape {
    background-color: var(--verde);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.copyright p {
    margin: 3px 0;
    font-size: 14px;
    color: var(--branconeve);
}

@media screen and (max-width:490px) {
    .primeiro-rodape {
        height: 100%;
        color: white;
    }

    .img-dados {
        display: block;
    }

    .img-logo {
        justify-content: end;
    }

    #logo-nupat {
        width: 200px;
        height: 200px;
    }

    #logo-ifrn {
        width: 150px;
        height: 150px;
    }
    .primeiro-txt strong,
    .segundo-txt strong {
        color: black;
    }
    .dados-icons {
        width: 90%;
    }
    .dados-icons strong,
    .dados-icons p {
        font-size: 17px;
    }
    .copyright p{
        font-size: 10px;
    }

}
