:root {
    --brancogelo: #d9d9d9;
    --branconeve: rgb(255, 255, 255);
    --verde: #304D30;
    --bege: #E7E4D7;
    --verdefraco: #afc9afa8;
    --brancosolar: #EEF0E5;
    --verde: #304D30;
    --navbar-height: 4.75rem;

}
html{
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
}
.container {
    background-color: var(--brancogelo);
    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container main{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
main .titulo {
    color: var(--verde);
}
.info-download {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .download a {
    background-color: var(--verde);
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    transition: 0.6s;
}
main .download a:hover {
    background-color: white;
    color: var(--verde);
    transition: 0.6s all;
}
main .img {
    display: flex;
    justify-content: center;
}
main .img img {
    border-radius: 10px;
    max-width: 50%;
    height: auto;
    object-fit: contain;
}
hr {
    flex: 1;
}
.cards{
    display: flex;
    gap: 30px;
}
.cards .card {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}