:root {
    --cinza: #E7E4D7;
    --preto: #000000;
    --meiobranco: #ececec;
    --verde: #304D30;
    --branconeve:rgb(255, 255, 255);
    --verdeclaro: #83ab83;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
}

/* rodape */
.primeiro-rodape {
    width: 100%;
    height: 100%;
    background-color: #E7E4D7;
}

.voltar-ao-topo {
    display: flex;
    padding: 10px;
    gap: 12px;
}

.primeiro-rodape a {
    text-decoration: none;
    color: black;
}
.voltar-ao-topo hr {
    flex: 1;
    margin: 10px auto;
}


.voltar-ao-topo i {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.primeiro-rodape article {
    display: block;

}

.container-texto {
    display: flex;
    gap: 50px;
    height: 200px;
    margin-left: 8%;
    margin-top: 5%;
}

.primeiro-txt,
.segundo-txt {
    height: 200px;
    width: 200px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.primeiro-txt p,
.segundo-txt p {
    display: grid;
    gap: 5px;
    transition: 0.5s;

}
.primeiro-txt p :hover,
.segundo-txt p :hover {
    color: #83ab83;
    transition: 0.5s;
}

.img-dados {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 7%;
}

.img-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.dados-icons {
    color: var(--verde);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dados-icons>.icons {
    font-size: 28px;
    display: flex;
    gap: 12px;
}
.icons a i{
    color: var(--verde);
    transition: 0.5s;
}
.icons a i:hover {
    transition: 0.5s;
    color: var(--verdeclaro);
}
.dados-icons h3 {
    font-weight: bolder;
    font-size: 22px;
}
.voltar-ao-topo a{
    cursor: pointer;
}

.segundo-rodape {
    background-color: var(--verde);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.copyright p {
    margin: 1px 0;
    color: var(--branconeve);
}

@media screen and (max-width:490px) {
    .primeiro-rodape {
        height: 100%;
        color: white;
    }

    .img-dados {
        display: block;
    }

    .img-logo {
        justify-content: end;
    }

    #logo-nupat {
        width: 200px;
        height: 200px;
    }

    #logo-ifrn {
        width: 150px;
        height: 150px;
    }
    .primeiro-txt strong,
    .segundo-txt strong {
        color: black;
    }
    .dados-icons {
        width: 90%;
    }
    .dados-icons strong,
    .dados-icons p {
        font-size: 17px;
    }
    .copyright p{
        font-size: 10px;
    }

}