:root {
    --brancogelo: #d9d9d9;
    --branconeve: rgb(255, 255, 255);
    --verde: #304D30;
    --bege: #E7E4D7;
    --verdefraco: #afc9afa8;
    --brancosolar: #EEF0E5;
    --verde: #304D30;
    --navbar-height: 4.75rem;

}
*{
    margin:0;
    padding:0;
}

/* modo noturno 
/* Estilo para o Modo Escuro */
body.dark-mode {
    background-color: #818181 !important; /* Cor preta/grafite para o fundo */
    transition: 0.5s;

}

/* Opcional: Ajuste os containers para que fiquem visíveis no fundo preto */
body.dark-mode .container {
    background-color: #818181 ;
    transition: 0.5s;
}

/* Exemplo de como mudar os cards no modo escuro */
body.dark-mode .card {
    background-color: #3a3a3a ;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

/* Ajuste do título para não sumir */
body.dark-mode .cbc-acessibilidade {
    background-color: #b3b3b3;
    transition: 0.5s;
}
body.dark-mode .submenu {
    background-color: #b3b3b3;
    transition: 0.5s;
}
body.dark-mode .card {
    background-color: #b3b3b3;
    transition: 0.5s;
}
body.dark-mode .title2 {
    color: #fff;
    transition: 0.5s;
}

/*

/* INICIO DO CORPO DO SITE*/
.container {
    display: grid;
    place-items: center;
    height: auto;
    grid-template-columns: 70% 30%;
    grid-template-areas:
        "primeiro-corpo segundo-corpo";
    padding: 20px;
    transition: 0.5s;


}

.primeiro-corpo {
    grid-area: primeiro-corpo;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.second {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}


.cards-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.card {
    width: 31%;
    height:auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
}
.card nav {
    width: 70%;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.card nav p {
    width: 69%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}
.card nav a {
    background-color: var(--verdeclaro);
    width: 70px;
    height: 30px;
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 0.9rem;
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 4px;
}

.card p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.card a {
    background-color: var(--verdeclaro);
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 8px;
    color: #fff;
    font-size: 0.9rem;
}



/* Responsividade para telas menores */
@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* 2 cards por linha em telas menores */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; /* 1 card por linha em telas muito pequenas */
    }
}




.segundo-corpo {
    grid-area: segundo-corpo;
    display: flex;
    gap: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.nupat {
    width: 80%;
    height: auto;
    padding: 60px;
    background-color: var(--verdefraco);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 30%;
    height: 80rem;
    margin-left: 68%;
    display: flex;
    flex-direction: column;
    margin-top: -15%;


}

/* FIM DO CORPO DO SITE*/

/* TESTANDO IMPLEMENTAÇÃO DO CARROSEL PRINCIPAL*/
.carrosel {
    display: flex;
    width: 100%;
    justify-content: center;

}

section.slider {
    width: 700px;
    max-height: 700px;
    overflow: hidden;
    border-radius: 10px;
    /*Adicionado só para teste*/
}

.slider-content {
    width: 400%;
    display: flex;

}

.slider-content input {
    display: none;
}

.slider-box {
    width: 25%;
    text-align: center;
    transition: 1s;
}

.slider-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


.nav-manual,
.nav-auto {
    display: none;
}

#radio1:checked~.primeiro {
    margin-left: 0%;
}

#radio2:checked~.primeiro {
    margin-left: -25%;
}

#radio3:checked~.primeiro {
    margin-left: -50%;
}

/* FIM DO CARROSEL PRINCIPAL*/

.primeiro-rodape {
    width: 100%;
    height: 100%;
}

.voltar-ao-topo {
    display: flex;
    padding: 10px;
    gap: 12px;
}

.primeiro-rodape a {
    text-decoration: none;
    color: black;
}

.voltar-ao-topo hr {
    flex: 1;
    margin: 10px auto;
}


.voltar-ao-topo i {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.primeiro-rodape article {
    display: block;
    padding: 20px;
}

.container-texto {
    display: flex;
    gap: 50px;
    height: 2 00px;
    margin-left: 8%;
    margin-top: 5%;
}

.primeiro-txt,
.segundo-txt {
    height: 200px;
    width: 200px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.primeiro-txt p,
.segundo-txt p {
    display: grid;
    gap: 5px;

}

.primeiro-txt p :hover,
.segundo-txt p :hover {
    color: #00ff00;
    transition: 0.5s;
}

.img-dados {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.dados-icons {
    color: var(--verde);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dados-icons>.icons {
    font-size: 28px;
    display: flex;
    gap: 12px;
}

.icons a i {
    color: var(--verde);
}

.icons a i:hover {
    transition: 0.5s;
    color: var(--verdeclaro);
}

.dados-icons h3 {
    font-weight: bolder;
    font-size: 22px;
}

.dados-icons p {
    line-height: 22px;
}

.segundo-rodape {
    background-color: var(--verde);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.copyright p {
    margin: 1px 0;
    color: var(--branconeve);
}



@media screen and (max-width:1151px) {
    section.slider {
        width: 599px;
    }

    .card {
        width: 160px;
        height: 120px;
    }

}



@media screen and (max-width:490px) {
    .container {
        grid-template-columns: 100% 0%;
        grid-template-areas:
        "primeiro-corpo"
         "segundo-corpo";
    }
    .cbc-acessibilidade {
        display: none;
    }
    /* Rodape */
    .primeiro-rodape {
        height: 100%;
        color: white;
    }
    .segundo-corpo {
        margin: 20px;
    }
    .nupat {
        padding: 20px;
    }
    .nupat h2 {
        font-size: 12px;
    }
    .img-dados {
        display: block;
    }

    .img-logo {
        justify-content: end;
    }

    #logo-nupat {
        width: 200px;
        height: 200px;
    }

    #logo-ifrn {
        width: 150px;
        height: 150px;
    }

    .primeiro-txt strong,
    .segundo-txt strong {
        color: black;
    }

    .dados-icons {
        width: 90%;
    }

    .dados-icons strong,
    .dados-icons p {
        font-size: 17px;
    }

    .copyright p {
        font-size: 10px;
    }
}
