:root {
    --brancogelo: #d9d9d9;
    --branconeve:rgb(255, 255, 255);
    --verde: #304D30;
    --bege: #E7E4D7;
    --verdefraco: #afc9afa8;
    --brancosolar: #EEF0E5;
    --navbar-height: 4.75rem;

}
ul
{
    list-style: none;
}
.linha-fina
{
    height: 2px;
    width: 80%;
    background-color: #5ba55b;
    margin-left: 22%;
    margin-top: -19px;
}
.filtro .buscar-box
{
    padding-left: 5%;
    margin-top: 55px;
}
.filtro .buscar-box .input-buscar input
{
    background-color: #ffffff;
    width: 90%;
    font-size: 16px;
    outline: 0;
    border: 0;
}
.filtro .buscar-box .input-buscar
{
    background-color: #ffffff;
    color: #000000;
    border-radius: 6px;
    padding: 7px;
    width: 65%;
    display: flex;
}

.filtro .buscar-box button
{
    border: none;
    padding: 4px;
    border-radius: 5px;
}
.filtro .fi
{
    margin-top: 15%;
    margin-left: 5%;
}
.filtro .fi ul, h3{
    padding-bottom: 8px;
    font-size: 18px;
}
.filtro .fi h2{
    font-size: 22px;
    padding-bottom: 25px;
    color: #083a08;
}
.lineex{
    width: 300%;
    margin-top: -20%;
    margin-left: 130%;
    background-color: #5ba55b;
    height: 1px;
}
ul li h3{
    padding-top: 5px;
}

.filtro .fi input[type="checkbox"] {
    appearance: none; 
    -webkit-appearance: none; /*pode retirar se quiser*/
    width: 15px; /*pode retirar se quiser*/
    height: 15px; 
    border-radius: 50%; 
    border: 1px solid var(--verde);
    outline: none; 
    cursor: pointer; 
    margin-right: 10px; 
    vertical-align: middle;
}

.filtro .fi input[type="checkbox"]:checked {
    background-color: var(--verde); /* Cor de fundo quando o checkbox estiver marcado */
}

.fa-chevron-down
{
    transition: transform .4s;
}
.mais:hover .fa-chevron-down  
{
    transform: rotate(180deg);
    color: #000000;
}
.mais .fa-chevron-down
{
    color: var(--verde);
    font-size: 15px;
    position: relative;
    top: -1%; /*movimenta o icone de expansão*/
    margin-left: 5px;
}
.mais
{
    text-decoration: none;
    list-style: none;
    transition: background .5s, color .5s;
    width: 25%;
    padding: 3px;
    margin-top: 5px;
}
.mais:hover
{
    background-color: var(--verdefraco);
    border-radius: 4px;
    color: #000000;
}
main
{
    background-color: var(--brancogelo);
    height: 900px;
    width: 100%;
}
main h1
{
    padding: 30px 60px;
    color: #083a08;
}
main article
{
    display: flex;
}
.filtro
{
    width: 30%;
    height: 900px;
    position: relative;
    top: -20px
}
.proj
{
    width: 60%;
    height: 90%;
    padding-bottom: 120px;
}

.pro
{
    width: 100%;
    height: 800px;
    overflow: auto;
    flex-wrap: wrap;
}
.projetos {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    overflow: hidden;
}

.pro::-webkit-scrollbar {
    display: none;
}
.projetos>nav {
    width: 350px;
    height: 280px;
    background-color: var(--branconeve);
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    transition: .3s;
}
.projetos>nav:hover
{
    padding: 2px;
    background-color: #b5d6b55e;
    
}

.projetos>nav>.image {
    width: 100%;
    height: 160px;
    padding: 10px;
    transition: background .5s, color .5s;
}
.projetos>nav>.image img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.projetos>nav>.conteudo {
    width: 90%;
    height: 40%;
    justify-content: center;
    align-items: center;
    text-align: left;
    
    
}
.projetos>nav>.conteudo a, .projetos nav .conteudo p:hover, .projetos nav .conteudo h1:hover
{
    color: #00ff00;
    
}
.projetos nav .conteudo h1:hover
{
    font-size: 16px;
}
.projetos nav .conteudo h1
{
    transition: .5s;
    margin-top: -25px;
    font-size: 14px;
    text-align: center;
    font-weight: bolder;
}
.projetos nav .conteudo p:hover
{
    font-size: 10px;
}
.projetos nav .conteudo p
{
    transition: .5s;
    margin-top: -28px;
    font-size: 10px
}
.projetos>nav>.conteudo a 
{
    color: #000000;
    text-decoration: none;
}


@media screen and (max-width:490px) {
    .primeiro-rodape {
        height: 100%;
        color: white;
    }

    .img-dados {
        display: block;
    }

    .img-logo {
        justify-content: end;
    }

    #logo-nupat {
        width: 200px;
        height: 200px;
    }

    #logo-ifrn {
        width: 150px;
        height: 150px;
    }
    .primeiro-txt strong,
    .segundo-txt strong {
        color: black;
    }
    .dados-icons {
        width: 90%;
    }
    .dados-icons strong,
    .dados-icons p {
        font-size: 17px;
    }
    .copyright p{
        font-size: 10px;
    }

}

