.linha-fina1
{
    height: 2px;
    width: 65%;
    background-color: #00ff00;
    color: #00ff00;
    margin-left: 35%;
    margin-top: -20px;
}
.lineex{
    width: 90%;
    margin-top: -12%;
    margin-bottom: 25px ;
    background-color: #5ba55b;
    height: 1px;
}
.linha-fina1
{
    height: 2px;
    width: 70%;
    background-color: #0e330e;
    margin-left: 30%;
    margin-top: -20px;
}
