:root {
    --brancogelo: #d9d9d9;
    --branconeve:rgb(255, 255, 255);
    --verde: #304D30;
    --bege: #E7E4D7;
    --verdefraco: #afc9afa8;
    --brancosolar: #EEF0E5;
    --navbar-height: 4.75rem;   

}
body {
    font-family: "Red Hat Display", 
        sans-serif;
    font-size: 16px;
    background-color: var(--branconeve);
    overflow-x: hidden;
   
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Controle do menu de acessibilidade*/
ul {
    list-style: none;
}
main {
    display: grid;
    place-items: center;

}
.titulo {
    width: 90%;
    margin: 50px;
}
.container {
    width: 90%;
    height: auto;
}
.lyste {
    font-size: 38px;
    font-weight: bolder;
    color: var(--verde);
}
.line{
    width: 72%;
    height: 2px;
    background-color: #00ff00; 
    margin-top: -1.2%;
    margin-left: 15%;
}
.text1 { 
    width: 100%;
    text-align: justify;
    border-style: inherit;
    color: var(--verde);
}
/* carrossel de fotos grupais*/

section.slider {
    margin: 0 auto 0 auto;
    width: 80%;
    height: auto;
    margin-top: 5%;
    overflow: hidden;
    border-radius: 1%;

    /*Adicionado só para teste*/
   
}
.slider-content {
    width: 400%;
    display: flex;  
    
}
.slider-content input {
    display: none;
}
.slider-box {
    width: 25%;
    height: auto;
    text-align: center;
    transition: 1s;
    margin: 20px;
}
.img-container {
    width: 100%;

}
.img-container img {
    object-fit: contain;
    height: auto;
}
.slider-box  img {
    width: 90%;
    object-fit: contain;
    display: block;
}
.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 34%; 
    display: flex;
    margin-left: 39%;
    overflow: hidden;
}
.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid #98c798;
    padding: 9px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}
.nav-manual .manual-btn:hover {
    background-color: #304D30;
}
#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #c9e2c9;
}

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}
#radio2:checked ~ .primeiro {
    margin-left: -25%;
}
#radio3:checked ~ .primeiro {
   margin-left: -50%;
}
/* FIM DO CARROSEL PRINCIPAL*/

.text2 {
    width: 100%;
    height: auto;
}
.menber {
    margin-top: 50px;
}
.menber h2{
    font-size: 38px;
    font-weight: bolder;
    color: var(--verde);
}
/*Seção das fotos dos componentes do NUPAT*/
.carousel-container {
    width: 100%;
    height: auto;
    background-color: aliceblue;
    margin-top: 5%;
    padding: 15px 10px;
    overflow: hidden;
    justify-content: center;
}

.photos {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.profilesec {
    text-align: center;
    margin-left: 30px;
    margin: 0 50px; /*aqui podem ajustar o espaço entre os perfis*/

   
}
.circle {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto 10px;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    transform: translateY(-50%);  /* Corrigir erro no transform */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 10%;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}


/* Rodapé pronto*/
.primeiro-rodape {
    width: 100%;
    height: 100%;
    background-color: #EEF0E5;
    margin-top: 10%;
}

.voltar-ao-topo {
    display: flex;
    font-size: 17px;
    padding: 10px;
    gap: 12px;
}

.primeiro-rodape a {
    text-decoration: none;
    color: black;
}
.voltar-ao-topo hr {
    flex: 1;
    margin: 10px;
}
.voltar-ao-topo i {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.primeiro-rodape article {
    display: block;
    padding: 20px;


}

.container-texto {
    display: flex;
    gap: 50px;
    height: 200px;
    margin-left: 8%;
    margin-top: 5%;
}

.primeiro-txt,
.segundo-txt {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}
.primeiro-txt p,
.segundo-txt p {
    display: grid;
    gap: 5px;
}
.primeiro-txt p :hover{
    color: #82a482;
    transition: 0.4s;
}
.segundo-txt p :hover{
    color: #82a482;
    transition: 0.4s;
} 
.img-dados {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-logo {
    display: flex;
    align-items: center;
    margin-left: 3%;
    justify-content: space-between;
}
.dados-icons {
    margin-right: 20%;
    color: var(--verde);
    display: flex;
    gap: 6px;
    flex-direction: column;
}
.dados-icons h3 {
    font-weight: bolder;
    font-size: 22px;
}
.dados-icons p {
    line-height:  22px;
}

.icons a i{
    color:#304D30;
}
.icons a i:hover{
    color: #00ff00;
    transition: 0.5s;
} 

.dados-icons>.icons {
    background-color: transparent;
    font-size: 28px;
    display: flex;
    padding: 7px;
    gap: 20px;
}
.segundo-rodape {
    background-color: var(--verde);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.copyright p {
    margin: 3px 0;
    font-size: 14px;
    color: var(--branconeve);
}

@media screen and (max-width:490px) {
    .line{display: none;}
    .nav-manual, .nav-auto{
        display: none;
    }
    .nav-manual .manual-btn, .nav-auto div{
        background-color: none;
    }
    .primeiro-rodape {
        width: 100%;
        color: white;
        
    }
    .carrosel {
        display: grid;
        place-items: center;
        margin: 20px;
    }
    .slider-box {
        height: auto;
    }

    .img-dados {
        display: block;
    }

    .img-logo {
        justify-content: end;
    }

    #logo-nupat {
        width: 200px;
        height: 200px;
    }

    #logo-ifrn {
        width: 150px;
        height: 150px;
    }
    .primeiro-txt strong,
    .segundo-txt strong {
        color: black;
    }
    .dados-icons {
        width: 90%;
    }
    .dados-icons strong,
    .dados-icons p {
        font-size: 17px;
    }
    .copyright p{
        font-size: 10px;
    }
    
    .profilesec {height: auto;}
    .circle {
        width: 80px;
        height: 80px;
    }
    .profilesec p {
        font-size: 13px;
    }
}


